body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #300b3c;
  color: #fff;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.rays-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ray {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(117, 15, 130, 0.5);
  animation: rayAnimation 2s linear infinite;
}

@keyframes rayAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Adicione essas regras para atrasar o início das animações dos raios */
.ray:nth-child(1) {
  animation-delay: 0s;
}
.ray:nth-child(2) {
  animation-delay: 0.2s;
}
.ray:nth-child(3) {
  animation-delay: 0.4s;
}
.ray:nth-child(4) {
  animation-delay: 0.6s;
}
.ray:nth-child(5) {
  animation-delay: 0.8s;
}


.menu {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  transition: 0.2s ease-in-out;
  display: inline-block; /* Adicione essa propriedade */
  padding: 5px 10px; /* Adicione um padding para melhorar o destaque */
}

nav a:hover {
  font-size: 1.2em;
  background-color: #ff00ff;
  /* Adicione outras propriedades de estilo para destacar o botão */
}

main {
  margin: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
