body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    color: #fff;
    padding: 20px;
  }

  .menu {
    text-align: center;
  }
  
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    transition: 0.2s ease-in-out;
  }

  nav a:hover {
    font-size: 1.2em;
    background-color: #ff00ff;
    /* Adicione outras propriedades de estilo para destacar o botão */
  }
  
  
  main {
    margin: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  